
body {
    background: linear-gradient(to bottom, #339933 0%, #000099 100%);
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 35px;
  }

  

  h1 {
    color: rgb(190, 123, 22);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    padding-bottom: 20px;
    font-size: 30px;
    
   }

  html {
    height: 100%;
  }

  p {
    color: blanchedalmond;
  }

  .navbar-collapse {
    flex-grow: 5;
  }
  
  .container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    clear: both;
  }

.insider-footer{
color:black;
font-size:20px;
padding:30px;
}

.page-space{
margin:50px;
}

.insider-bold-text {
font-weight:bold;
}

.restaurant-field {
margin-bottom: 20px;

}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    
}

img {
    max-width: 220px;
    max-height: 150px;
}


figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

